<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About ConcreteReg</title>
    <link rel="stylesheet" href="/static/about.css?v=1.1">
</head>
<body>
    <header>
        <div class="container">
            <h1>About Us</h1>
        </div>
    </header>

    <div class="container main-content">
        <section class="about-section animated">
            <h2>Our Mission</h2>
            <p>This project aims to explore the application of machine learning in predicting the
                compressive strength of concrete based on its mix design parameters.
                The main purpose is to reduce dependency on extensive laboratory experiments while maintaining reliable accuracy.
                Through data analysis and predictive modeling, we seek to understand the relationships between material properties and concrete performance.
                This system serves as an educational and research tool that demonstrates how artificial intelligence can support civil engineering innovations.</p>
        </section>

        <section class="team-section">
            <h2 class="animated">Our Team</h2>
            <div class="team-member animated">
                <img src="/static/images/HODSIR.jpg" alt="CEO & Founder">
                <h3>Dr.AJAYPRAKASH B V</h3>
                <p>CEO & Founder</p>
            </div>
            <div class="team-member animated">
                <img src="/static/images/Sumitkumar_hosalli.jpg" alt="Team Member 1">
                <h3>Sumitkumar Hosalli</h3>
                <p>Lead Developer</p>
            </div>
            <div class="team-member animated">
                <img src="/static/images/Shreyas.jpg" alt="Team Member 2">
                <h3>Shreyas K T</h3>
                <p>Project Manager</p>
            </div>
        </section>
        <a href="/">Go back to Home</a>
    </div>

    <script src="/static/about.js"></script>
</body>
</html>
